.app {
  height: 100vh;
}

.sidebar {
  background-color: #1d232a;
  width: 80px;
}

.sidebar .active {
  background-color: #282e36;
}

.menu {
  background-color: #282e36;
}

.friend-list {
  background-color: #2d343c;
}

.chat {
  background-color: #f4f6f8;
}

.profile {
  background-color: #ffffff;
}
